<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PetStore API Test Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88d8b8">  <td>22/10/05 23:01:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserAPITest.testCreateUserWithArray()[pri:2, instance:tests.UserAPITest@71def8f8]">testCreateUserWithArray</td> 
  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>22/10/05 23:01:48</td>   <td>1295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserAPITest.testCreateUserWithList()[pri:3, instance:tests.UserAPITest@71def8f8]">testCreateUserWithList</td> 
  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>22/10/05 23:01:42</td>   <td>-4731</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UserAPITest.init()[pri:0, instance:tests.UserAPITest@71def8f8]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/10/05 23:01:59</td>   <td>12140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.addPetAndPlaceItsOrder()[pri:1, instance:tests.EndToEndTest@28f2a10f]">addPetAndPlaceItsOrder</td> 
  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>22/10/05 23:01:44</td>   <td>-3092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserAPITest.testCreateUser()[pri:1, instance:tests.UserAPITest@71def8f8]">testCreateUser</td> 
  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="88d8b8">  <td>22/10/05 23:01:50</td>   <td>2565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserAPITest.testGetUser()[pri:4, instance:tests.UserAPITest@71def8f8]">testGetUser</td> 
  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/10/05 23:01:59</td>   <td>12140</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EndToEndTest.init()[pri:0, instance:tests.EndToEndTest@28f2a10f]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/10/05 23:01:56</td>   <td>8805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StoreAPITest.init()[pri:0, instance:tests.StoreAPITest@47faa49c]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/10/05 23:01:53</td>   <td>6053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PetAPITest.addPetAndVerifyDetails()[pri:1, instance:tests.PetAPITest@73e22a3d]">addPetAndVerifyDetails</td> 
  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="bb7c74">  <td>22/10/05 23:01:53</td>   <td>6052</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PetAPITest.init()[pri:0, instance:tests.PetAPITest@73e22a3d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1601687801</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/10/05 23:01:56</td>   <td>8806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StoreAPITest.placePetOrderAndVerifyPurchase()[pri:1, instance:tests.StoreAPITest@47faa49c]">placePetOrderAndVerifyPurchase</td> 
  <td>main@1601687801</td>   <td></td> </tr>
</table>
