<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73c1fb">  <td>22/09/15 13:48:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.addPetAndPlaceItsOrder()[pri:1, instance:tests.EndToEndTest@1130520d]">addPetAndPlaceItsOrder</td> 
  <td>main@1789110533</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/09/15 13:48:20</td>   <td>-1218</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EndToEndTest.init()[pri:0, instance:tests.EndToEndTest@1130520d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1789110533</td>   <td></td> </tr>
</table>
